Application/Home/Conf/*
Application/Runtime/*
uploads/*.xl*
uploads/*.cs*
.idea/*
t.php
json.php
.git/*
.htaccess
.idea/*
synccode.sh
node_modules/
.project
/nbproject/private/

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log