@charset "UTF-8";
@-webkit-keyframes fadeInUp1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

.headimg-area {
  width: 100%;
  height: 3rem;
  background: url("../img/fillmessagebg.png") no-repeat;
  background-size: cover;
  margin-bottom: 0.2rem;
}

.headimg-area img {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.4rem auto 0.3rem;
}

.headimg-area .changebg {
  height: 0.5rem;
  width: 1.8rem;
  line-height: 0.5rem;
  text-align: center;
  color: #ececec;
  border: 1px solid #ececec;
  -moz-border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
  background: transparent;
  outline: none;
}

.headimg-area .changebg span {
  color: #ececec;
}

.itemblock {
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  /* Safari 和 Chrome */
}

.animateitem1 {
  -webkit-animation-name: fadeInUp1;
  animation-name: fadeInUp1;
}

.animateitem2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}

.animateitem3 {
  -webkit-animation-name: fadeInUp3;
  animation-name: fadeInUp3;
}
